<html>
<head>
  <meta charset="utf-8">
  <title>Bootstrap Table</title>
</head>
<body>
<div class="input-group">
  <div class="form-outline">
    <input type="search" id="form1" class="form-control" placeholder="search"/>
  </div>
  <button type="button" class="btn btn-primary" style=" margin-bottom: 23px;">
    <i class="fas fa-search"></i>
  </button>
</div>
<div class="container-fluid">
  <div class="table-responsive-sm">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Tên ứng viên</th>
        <th>vị trí ứng tuyển</th>

        <th>file CV</th>
        <th>Trạng thái</th>
        <th>Thời gian nộp hồ sơ</th>
        <th>Lý do</th>
        <th>Đặt lịch phỏng vấn</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let filerecruits of filerecruit ">
        <td>{{filerecruits.name}}</td>
        <td>{{filerecruits.jobPosition}}</td>
        <td>{{filerecruits.cv}}</td>
        <td>{{filerecruits.status}}</td>
        <td>{{filerecruits.dateRegister}}</td>
        <td *ngIf="filerecruits.status === 'ứng viên bị từ chối'">
          <button type="submit">lý do</button>
        </td>
        <td></td>
        <td *ngIf="filerecruits.status === 'chờ phỏng vấn'">
          <button type="submit">Hẹn phỏng vấn</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
