<h2 style="float: left"> DANH SÁCH TIN TUYỂN DỤNG </h2>

<button style="float:right" type="button" class="btn btn-primary"
        (click)="gotoInsertJob()">
  <i class="fa fa-plus" aria-hidden="true"></i>
  Tạo công việc mới
</button>

<table class = "table table-hover table-bordered table-light">
  <thead class = "table-primary">

  <tr>
    <th> Tên </th>
    <th> Vị trí công việc </th>
    <!--      <th> Số năm kinh nghiệm</th>-->
    <!--      <th> Hình thức làm việc</th>-->
    <!--      <th> Địa chỉ làm việc</th>-->
    <!--      <th> Trình độ học vấn</th>-->
    <!--      <th> Level</th>-->
    <!--      <th> Số lượng cần tuyển</th>-->
    <th> Hạn nộp hồ sơ</th>
    <!--      <th> Kĩ năng</th>-->
    <!--      <th> Mô tả công việc</th>-->
    <!--      <th> Quyền lợi được hưởng</th>-->
    <!--      <th> Yêu cầu công việc</th>-->
    <th> Mức lương</th>
    <!--      <th> Người liên hệ</th>-->
    <th> Trạng thái</th>
    <th> Lượt xem</th>
    <th colspan = "3" >Quick Action</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let job of jobs">
    <td> {{job.name}}</td>
    <td> {{job.jobPosition.description}}</td>
    <!--      <td> {{job.numberExperience}}</td>-->
    <!--      <td> {{job.workingForm.description}}</td>-->
    <!--      <td> {{job.addressWork}}</td>-->
    <!--      <td> {{job.academicLevel.description}}</td>-->
    <!--      <td> {{job.rank.description}}</td>-->
    <!--      <td> {{job.qtyPerson}}</td>-->
    <td> {{job.dueDate}}</td>
    <!--      <td> {{job.skills}}</td>-->
    <!--      <td> {{job.description}}</td>-->
    <!--      <td> {{job.interest}}</td>-->
    <!--      <td> {{job.jobRequirement}}</td>-->
    <td> {{job.salaryMax}} - {{job.salaryMin}} VNĐ</td>
    <!--      <td> {{job.contact.name}}</td>-->
    <td> {{job.status.description}}</td>
    <td> {{job.views}}</td>

    <td>
      <button class="btn btn-sm btn-info">
        <i class="fa fa-search"></i>Xem</button>
      <button class="btn btn-sm btn-warning">
        <i class="fa fa-edit"></i>Sửa</button>
      <button class="btn btn-sm btn-danger">
        <i class="fa fa-trash"></i>Xóa</button>
    </td>

  </tr>
  </tbody>
</table>


