<form>
  <div class="form-group">
    <label for="formGroupExampleInput">User Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Email</label>
    <input type="text" class="form-control" id="formGroupExampleInput2">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">phoneNumber</label>
    <input type="text" class="form-control" id="formGroupExampleInput3">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">homeTown</label>
    <input type="text" class="form-control" id="formGroupExampleInput4">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">gender</label>
    <input type="text" class="form-control" id="formGroupExampleInput5">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">birthDay</label>
    <input type="text" class="form-control" id="formGroupExampleInput6">
  </div>
</form>

