<table class="table" >
  <thead>
  <tr>
    <th scope="col">Id </th>
    <th scope="col">Name </th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <ng-container  *ngFor="let je of jes">
    <tr>
      <td >{{je.id}} </td>
      <td>{{je.userName}} </td>
      <std>{{je.email}}</std>
      <td>{{je.phoneNumber}}</td>
      <td><button (click)="openDialog(je.id)" id="button" type="button" class="btn btn-primary ">Update</button></td>
      <td><button id="button" type="button" class="btn btn-primary (click)=">deactive</button></td>
    </tr>
  </ng-container>


  </tbody>
</table>
<mat-paginator [length]='this.jes.length+1' [pageIndex]="0" [pageSize]="5" (page)="onChangePage($event)"
               [pageSizeOptions]="pageSizeOption" aria-label="Select page" color = "warning">
</mat-paginator>
